/* CDN fonts */
@import url('http://fonts.cdnfonts.com/css/cs-harley');
@import url('https://fonts.cdnfonts.com/css/sofia-pro');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
    --background-white: #FFFFFF;
    --cool-blue: #00897b;
    --black: #303030;
}

/* ----------------- General styling ------------- */

.bold-text {
    font-weight: bold;
}

.light-text {
    font-weight: 300;
    /* opacity: .7; */
    /* font-size: 40px; */
}

.flex {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.price {
    font-size: 16px;

}

.line {
    border-bottom: .5px solid #e9e9e9;
    padding-bottom: 1em;

}

/* ---------- Apply to all links -------------- */

a {
    text-decoration: none;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------  Preloader------ */
.spinner {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}



body {
    background-color: var(--background-white);

    font-family: 'Sofia Pro', sans-serif;



}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(--background-white);
}

.header-area {
    display: flex;
    width: 96%;
    margin: auto;
    padding: 1.5em;
    justify-content: space-between;
}

.site_logo {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
}

nav {
    width: 40%;
    margin-top: 1em;
    font-family: 'Sofia Pro', sans-serif;


}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {

    font-size: 16px;
}

.colored a {
    background-color: var(--cool-blue);
    color: var(--background-white);
    padding: 1em;

}


main {
    position: relative;
    padding-top: 5em;
    width: 100%;
    margin: auto;
    font-family: 'Sofia Pro', sans-serif;

}

.hero-section {
    margin-top: 7em;
    width: ;
}

.hero-section h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 3em;
    line-height: 1.5em;
    width: 80%;
    margin: auto;

}

/* -------------- Search field ------------- */

.search_field {
    width: 60%;
    margin: auto;
    margin-top: 6%;
    border: .4px solid #303030;
    border-radius: 50px;
    padding: 1em;
}

.search_field form {
    display: flex;
    justify-content: space-between;
}

.search_field form input {
    border: none;
    outline: none;
    background: none;
    color: black;
    width: 60%;
    text-align: center;
}

.search_field form button {

    background: none;
    background-color: var(--cool-blue);
    border: none;
    width: 25%;
    height: 7vh;
    color: #FFFFFF;
    outline: none;
   
    border-radius: 50%;
}



/* ---------- Recently added listings ------------ */
.just-added {

    width: 96%;
    margin: auto;
    margin-top: 10%;
}



.wrapper h2 {
    text-align: center;
    font-size: 2.5em;
    text-transform: capitalize;
    font-weight: 600;
}

/* GENERAL */
.container {
    width: 95%;
    margin: auto;
    background-color: ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}


.box {
    width: 90%;
    margin: auto;

    margin: 2em;
    background-color: white;
    font-weight: 500;
}

.box img {
    width: 100%;
    height: 50%;
    padding: ;
    text-align: center;
}

.box h3 {
    padding: .5em;
    font-size: 18px;
    font-weight: 600;
}

.box p {

    padding: 0.5em;
}

.hostel_name {
    font-size: 10px;
    text-transform: uppercase;
}

.box a {
    /* background-color: var(--cool-blue);
    color:var(--background-white);
    padding: .5em 1em; */
    align-items: center;

}

.landlords {
    width: 100%;
    margin: auto;
    background-color: #fafafa;
    margin-top: 5%;
    padding: 5%;
}

.text p{
    opacity: .8;
    line-height: 2em;
}

.image-wrapper {
    width: 120%;
    background-color: #fafafa;

}

.image-wrapper .box {

    width: 100%;
    background-color: #fafafa;
}

.image-wrapper img {

    width: 85%;
    height: 55vh;
    margin-left: auto;
    display: flex;
    justify-content: right;
    margin-top: -3%;

}

.green {
    color: #00897b;
}

.flex .text {
    width: 100%;
    margin-top: 3%;

}

.text h1 {
   
    font-family: 'Sofia Pro', sans-serif;
}

section .colored {
    background-color: var(--cool-blue);
    color: var(--background-white);
    padding: 2em;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 8%;
}

.contact-us {
    background-color: #fafafa;
    padding: 7%;
    text-align: center;
}

.contact-us a {
    width: 25%;
}

footer {
    margin-top: 4%;
    width: 100%;
    padding: 4% 5%;
    
    font-family: 'Sofia Pro', sans-serif;;
    background-color: #e9e9e9;

}

.footer-area div {
    width: 50%;
    line-height: 2em;
}

.footer-area h1 {
    margin-bottom: 2em;
}



.links {
    display: grid;
    margin-left: 10%;
    margin-top: 2%;
    border-bottom: .5px solid var(--black);
}

.links a {
    padding: 5%;
    font-weight: 300;
    font-family: 'Sofia Pro', sans-serif;
}


.links a:hover {
    color: var(--cool-blue);
}
.faq{
    width: 90%;
    margin: auto;
    margin-top: 20%;
}

.faq-wrapper{
    border-bottom: .3px solid var(--black);
    border-top: .3px solid var(--black);
}

.faq p{
    opacity: .8;
    padding: 4% 0 1% 0;
    line-height: 2em;
}

.faq h2{
    padding:5% 0;
}

.faq-toggle{
   margin-bottom: 10%;
    font-family: 'Sofia Pro', sans-serif;
}

.faq-answer {
    font-family: 'Sofia Pro', sans-serif;
    display: none;
    margin-bottom: 5%;
  }
  
  .faq-toggle {
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
  }
  
  .faq-toggle::after {
    content: '\25B6'; /* Unicode character for right-pointing triangle */
    display: inline-block;
    margin-left: 5px;
    transform: rotate(90deg);
    transition: transform 0.3s;
  }
  
  .faq-toggle.active::after {
    transform: rotate(0deg);
  }
  


/* ------ Mobile View -------- */

@media(max-width:768px) {
    
    body {}

    header {
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: var(--background-white);
    }

    .header-area {
        display: flex;
        width: 98%;
        margin: auto;
        padding: 1em;
        justify-content: space-between;
    }

    .site_logo {
        font-family: 'Nunito Sans', sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
    }

    .navbar {
        
        width: 100%;
        margin-top: 1em;
        font-family: 'Sofia Pro', sans-serif;
        height: 100vh;
        position: absolute;
        right: .2rem;
        top: 2em;
        background-color: #00897b;
        z-index: 999999999;
    display: none;
    transition: ease-in-out;
    transition-delay: 1s;

    opacity: 0;
    transition: opacity 1s;

    }

    .navbar.fade-in {
        opacity: 1;
    }

    nav ul {
        
        color:#e6e9ed ;
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align:center;
        gap: 3em;
        padding: 3em 1em;
        
      
        
    }

    nav ul li a {
        color: #FFFFFF;
        
        text-align: center;
    }

    .colored a {
       padding: 0;
        background: none;
    
    }

    /* .mobile-colored{
        background-color: #FFFFFF;
        color: #00897b;
        width: 80%;
        margin: auto;
        text-align: center;
        padding: ;
    }
     */


    .hero-section {
        margin-top: 3em;
        width: ;
    }

    .hero-section h1 {
        text-align: center;
        text-transform: capitalize;
        font-size:2rem;
        line-height: 1.5em;
        width: 90%;
        margin: auto;
        margin-bottom:5%;


    }

.hero-section span{
background: linear-gradient(75deg, black, #00897b);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.hero-section p{
 width:80%;
text-align:center;
margin:auto;
line-height:2em;
}

    /* -------------- Search field ------------- */

    .search_field {
        width: 85%;
        margin: auto;
        margin-top: 13%;
        border: .4px solid #303030;
        border-radius: 50px;
        padding: 1em;
    }
    .search_field form button {

        background: none;
        background-color: var(--cool-blue);
        border: none;
        width: 25%;
        
        color: #FFFFFF;
        outline: none;
        padding: 1em;
        border-radius: 50%;
    }

    .search_field form input {
        border: none;
        outline: none;
        background: none;
        color: black;
        width: 80%;
        text-align: center;
    }
    
    
    
    #btn{
        display: none;
    }
    .flex {
        display: flex;
        flex-direction: column;
       
    }

    

    .landlords{
        margin-top: 20%;
    }

    .text h1{
        font-size: 1rem;
        opacity:.7;
    }


.image-wrapper{
    width: 100%;
    

}

.image-wrapper img{
    width: 100%;
    height: auto;
    margin-top: 10%;
}

    .just-added {
        margin-top: 30%;
    }

    .recently{
        padding:3% 10% ;
        
    }

    .mobile-flex{
        display: flex;
       align-items: center;
        flex-direction: row;
        
    }
     
    .hostel_name{
        font-size: .5rem;
    }
    .price {
        font-size: 1rem;
        margin-top: -30%;
        
    }
    
    .bold-text{
        margin: 0;
        padding: 0;
    }

    .container {

        grid-template-columns: repeat(6, 90%);
        grid-template-rows: auto;
        overflow-x: scroll;
 
    }

    .box {
        width: 95%;
        
        margin-left:-.1px;

     
    }

    .line a{
       
        padding: 4%;
        
    }

    


    section .colored {
        
        padding: .7em;
      
        width: 50%;
        
        display: flex;
        justify-content: center;
        width: 50%;
        margin:0%;
        margin-top: 15%;
        
        
    }
    

    .contact-us {
        background-color: #fafafa;
        padding: 5%;
        text-align: center;
    }

    .contact-us h2{
        font-size: 1.3rem;
        padding: 5%;
    }

    
    .contact-us a {
        width: 50%;
    }
    

    footer {
        display: b;
    }
 
    .footer-area div {
        width:98%;
        margin: auto;
        line-height: 1.5em;
    }

    .footer-area p{
        line-height: 2em;
        margin-bottom: 10%;
    }

    .links {
        
        line-height: 10em;
        margin-top: 10%;
        
    }

    .links a{
        
    }
    
}
