/* CDN fonts */
@import url('http://fonts.cdnfonts.com/css/cs-harley');
@import url('https://fonts.cdnfonts.com/css/svn-gilroy');
@import url('https://fonts.cdnfonts.com/css/svn-gilroy');

:root{
    --background-white:#FFFFFF;
    --cool-blue:#00897b;
    --black:#303030;
}

/* ----------------- General styling ------------- */

/* ---------- Apply to all links -------------- */
a{
    text-decoration: none;
    color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------  Preloader------ */
.spinner {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  


body{
    background-color: var(--background-white);
    color:var();
    font-family: 'DM Sans', sans-serif;
                                                
}

header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(--background-white);
}

.header-area{
    display: flex;
    width: 96%;
    margin: auto;
    padding: 1.5em;
    justify-content: space-between;
}

.site_logo{
    font-family:'CS Harley', sans-serif;
    font-size: 1.5rem;
}

nav{
    width: 40%;
    margin-top: 1em;
   
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
 
nav ul li a{
    font-weight:500;
    letter-spacing: .5px;
    font-size: 16px;
}
.colored a{
    background-color: var(--cool-blue);
    color: var(--background-white);
    padding: 1em;
}


main{
    position: relative;
    padding-top: 5em;
    width: 95%;
    margin: auto;
}

.hero-section{
    margin-top: 7em;
    width: ;
}

.hero-section h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 3em;
    line-height: 1.5em;
    width: 80%;
    margin: auto;
    
}

/* -------------- Search field ------------- */

.search-field{
    width: 70%;
    margin: 0 auto;
    
    margin-top: 5%;
    
   
    
}

#search-list{
    width: 70%;
    margin:0 auto;
    padding: 1.5em;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
    border-right: .1px solid var(--cool-blue);
    
    
}

.search-list:focus {
    border-color: var(--cool-blue);
  }

.field{
    width: 100%;
    margin: auto;
    text-align: center;
}

.field button{
    padding: 1.27em;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
    outline: none;
    background-color: var(--cool-blue);
    color: var(--background-white);
}


/* ---------- Recently added listings ------------ */

.just-added{
    width: 90%;
    margin: auto;
    margin-top: 10%;
}

.just-added h2{
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    padding: 1em;
}

.wrapper h2{
    text-align: center;
    font-size:2.5em;
    text-transform: capitalize;
    font-weight: 600;
}

/* GENERAL */
.container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
}

/* --------- Tab styling ------ */
.tab{
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
/* ----- Tablinks styling ----------- */
.tablinks{
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    padding: 2em;
}

.tablinks:active{
    color: var(--cool-blue);
}
.tablinks:after{
    color: var(--cool-blue);
}
.box{
    width: 90%;
    margin: auto;
    color:#041F47;
    margin: 2em ;
    border: 1px dotted var(--cool-blue);
    font-weight: 500;
}

.box img{
    width:100%;
    height: 50%;
    
    text-align: center;
}

.box h3{
    padding: .5em;
    font-size: 18px;
    font-weight: 600;
}

.box p{
   
    padding: 0.5em;
}