@import url('https://fonts.cdnfonts.com/css/sofia-pro');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


:root {
    --background-white: #FFFFFF;
    --cool-blue: #00897b;
    --black: #303030;
}

body {
    font-family: 'Sofia Pro', sans-serif;

}

#show {
    font-size: 25px;
    color: var(--black);
}

/* profile card styling */
.profile-card {
    position: absolute;
    right: 3em;
    top: 8em;
    background-color: var(--background-white);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1),
        -2px -2px 2px rgba(0, 0, 0, 0.1),
        2px -2px 2px rgba(0, 0, 0, 0.1),
        -2px 2px 2px rgba(0, 0, 0, 0.1);
    width: 20%;
    z-index: 999999999;
    display: none;
    opacity: 0;
    transition: opacity 1s;



}

.profile-card.fade-in {
    opacity: 1;
}

.profile-card ul {
    list-style: none;
    text-align: center;
    padding: 2em;
    line-height: 4em;
}

.accomodation-container {
    width: 98%;
    margin: auto;
    padding: 3em;
    background-color:


    ;
}

.wrapper {
    margin-top: 5em;
    font-family: 'Sofia Pro', sans-serif;
}

.out_p {
    padding: 2em;
    font-size: 20px;
    font-family: 'Sofia Pro', sans-serif;
}

.accomodation-container h1 {
    font-size: 22px;
    border-bottom: 3px solid var(--black);
    letter-spacing: .5px;
    margin-bottom: 2em;
    width: 20%;
    font-family: 'Sofia Pro', sans-serif;
}

.acco-p {
    font-size: 18px;
}

.accomodation-container span {
    font-weight: bold;
}

.listed {
    width: 97%;
    border-radius: 15px;
    padding: .9em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),
        -1px -1px 1px rgba(0, 0, 0, 0.1),
        1px -1px 1px rgba(0, 0, 0, 0.1),
        -1px 1px 1px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Sofia Pro', sans-serif;
}



.listed p {
    text-transform: capitalize;
}

.listed a {
    background-color: var(--cool-blue);
    padding: .5em 2em;
    border-radius: 14px;
    color: var(--background-white);
}

a:hover {
    opacity: .8;
}



.wrapper {
    display: flex;
    justify-content: space-between;
}




button {
    background: none;
    border: none;
    color: #ce2029;
    cursor: pointer;
    outline: none;

}

.w3-modal-content {
    width: 50%;
    text-align: center;
    line-height: 6em;
    margin-top: 10em;

}

.w3-container p {

    font-size: 18px;
}

.red {
    color: #ce2029;
    font-weight: bold;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.colored {
    color: var(--cool-blue);
    padding: ;
    font-weight: bold;
    appearance: none;
    border: none;
    outline: none;

}

.pagination{
    margin-top: 3em;
    padding: 3em;
    
}

.step-links{
    width: 90%;
    margin: auto;
    display: flex;
    font-size: 16px;
    letter-spacing: .5px;
    justify-content: space-between;
}

.successful{
    text-align: center;
    color: rgba(0, 137, 123, 0.9);

    font-size: 12px;
    border-left:5px solid rgba(0, 137, 123, 0.5);
    width: 30%;
    letter-spacing: .5px;
    background-color: #fafafa;
    margin: auto;
    padding: .5em;
    margin-bottom: 4em;
   

}


/* mobile view */


@media(max-width:768px){


    .hide{
        display: none;
    }

    header {
        position: fixed;
        width: 100%;
        z-index: 1000;
        background:none;
    }

    .header-area {
        display: flex;
        width: 98%;
        margin: auto;
        background-color: var(--background-white);
        padding: 1em;
        justify-content: space-between;
    }

    .site_logo {
        font-family: 'Nunito Sans', sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
    }

    .site_logo {
        font-family: 'Nunito Sans', sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: bold;
    }

    li{
        list-style:none ;
    }

    #show {
        font-size: 20px;

        color: var(--black);
    }

    /* profile card styling */
.profile-card {
    position: absolute;
    right: 1em;
    top: 5em;
    width: 80%;
    


}




.accomodation-container {
    width: 95%;
    margin: auto;
  padding: 30% 2%;
    
   
}

.accomodation-container h1 {
    font-size: 20px;
    border-bottom: 3px solid var(--black);
    letter-spacing: .5px;
    margin-bottom: 2em;
    width: 80%;
    font-family: 'Sofia Pro', sans-serif;
}

.wrapper{
    
    display: block;
    justify-content: space-between;
    padding: 0;
    margin-top: -10%;

}

.wrapper button{
    display: none;
}


.listed {
    width:98%;
    border-radius: 15px;
    padding: .9em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),
        -1px -1px 1px rgba(0, 0, 0, 0.1),
        1px -1px 1px rgba(0, 0, 0, 0.1),
        -1px 1px 1px rgba(0, 0, 0, 0.1);

    
    font-family: 'Sofia Pro', sans-serif; 
    margin: auto;
    margin-bottom: -6em;
}



.listed p {
    text-transform: capitalize;
    display: none;
}

.listed img{
    border-radius: 15px;
    width: 40%;
    height: 5em;
}

.listed h4{
 font-size: 16px;
 text-align: center;
 font-family: 'Sofia Pro', sans-serif;

}

.listed a {
    background:none;
    padding: 0;
    border-radius: 14px;
    color:black;
}

.else_div{
    margin-top: 15%;
}

.colored_a{
    width: 50%;
    margin: auto;
    background-color: var(--cool-blue);
    color: white;
    padding: .5em;
    display: flex;
    text-decoration: none;
    justify-content: center;
    border-radius: 50px;
    margin-top: 10%;
}

.pagination{
    margin-top: 7em;
    padding: 3em;
    
}

}